__pycache__/
.env
.venv/
venv/
venv310/
*.pyc

dev/
fake/
installer_dev
icon.png
pre_install_test.sh
pre_uninstall_test.sh
post_install_test.sh
post_uninstall_test.sh


build/
dist/
.eggs/
geninstaller.egg-info/
